body {
    /* background: linear-gradient(to right, blue, rgb(179, 241, 179), yellow); */
    background-image: url(../img/istockphoto-1489466711-612x612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#show-contact {
    display: none;
    background-color: rgba(240, 255, 255, 0.336);
    padding: 30px;
    border-radius: 3px;
}

#show-contact span {
    font-weight: 600;
}

#contacts li {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.719);
    padding: 8px;
    width: 60%;
    list-style-type: none;
    margin-bottom: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.deleteButton {
    background-color: red;
    color: white;
    padding: 7px;
    font-family: cursive;
    border-style: none;
}